@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4"
            style="background: linear-gradient(to right, #ff9999, #ffcc99, #ffff99, #ccff99, #99ccff, #9999ff, #cc99ff);">
            <a href="https://github.com/ModestWang/BlazorApp-For-Bigdata-2024.git" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
