
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
@* 
        <div class="nav-item px-3">
            <Button class="btn btn-primary btn-sm" @onclick="OnCreateChatButtonClicked">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Chat
            </Button>
        </div> 
 *@
@* 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @ChatManager.ChatManagerInstance.Chats[ChatManager.ChatManagerInstance.CurrentChatIndex].Name
            </NavLink>
        </div>
 *@
        @* 动态生成聊天组件 *@
        @foreach (var chat in ChatManager.ChatManagerInstance.Chats)
        {
            var chatIndex = ChatManager.ChatManagerInstance.Chats.IndexOf(chat);
            var chatLink = $"chat/{chatIndex}";
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@chatLink">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @chat.Name
                </NavLink>
            </div>
        }
    </nav>
</div>



@code {
    private void OnCreateChatButtonClicked()
    {
        BlazorApp.ChatManager.ChatManagerInstance.CreateChat();
    }

}