@page "/"

<PageTitle>Home</PageTitle>

<h1 class="welcome-title">欢迎来到 ---- 心晴驿站！</h1>
<h2 class="welcome-message">在这里分享你的心情</h2>


<style>
    body {
        background-color: #f0f8ff;
    }

    .welcome-title {
        font-family: 'Pacifico', cursive;
        color: #ff69b4;
        /* 粉红色 */
        text-align: center;
        margin-top: 40vh;
    }

    .welcome-message {
        font-family: 'Arial', sans-serif;
        color: #333;
        /* 深灰色 */
        text-align: center;
        margin-top: 5vh;
        font-size: 20px;
    }
</style>
